body {
    background-color: rgb(5, 53, 53);
    margin: 6%;
    display: block;
}

p.testP {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p #email {
    margin-top: 10px;
}

a {
    text-decoration: none;
}

main.flex-container {
    /* margin: 1px 0px 5px; */
    border: none;
    justify-content: space-between;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-bottom: 40px;
    padding-top: 15px;

}

fieldset {
    border-radius: 5px;
    border-color: rgba(126, 124, 0, .4);
}

section {
    display: block;
    /* background-color: rgb(151, 116, 116); */
    padding: 50 50 50;
}

section h3 {
    color: rgb(5, 53, 53, .4);
}

section h4 {
    color: rgba(114, 34, 0, 0.498);
    margin-top: 0px;
    margin-bottom: -18px;

}

footer {
    color: rgba(126, 124, 0, .4);
    font-size: 15px;
    font-weight: bold;
}

footer a{
    color: rgba(126, 124, 0, .4);
}

footer.flex-container {
    margin-top: 5px;
}

.funParagraph {
    color: green;
    text-align: center;
    margin-top: 0px;
}

.content {
    margin-top: 0px;
}

.images > img{
    width: auto;
    height : auto;
    max-height: 100%;
    max-width: 100%;
    border-radius: 5px;
}



.images a {
    color: rgba(114, 34, 0, 0.498);
}

.img-text {    
    font-size: x-small;
    text-align: center;
    margin-bottom: 0;
    /* color: rgb(5, 53, 53); */
    color: rgba(114, 34, 0, 0.498);
}

.flex-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 8%;
    border-radius: 5px;
    border: 2px solid rgba(126, 124, 0, .4);
    background-color: rgb(255, 255, 255);
    padding: 5%;
}

.left-section {
    margin-right: 10px;
}

.right-section {
    margin-left: 10px;
}

#mainHeading {
    color: red;
    border-radius: 5px;
    /* border: 2px solid rgba(126, 124, 0, .4);     */
}

#with-initials {
    border: none;
    justify-content: space-evenly;
    margin: 0;
    text-align: end;
}

#header-details {
    align-content: right;
    
}

#main-content-div {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

/* #future-plans {
    justify-content: stretch;
}

#interests-and-hobbies {
    justify-content: stretch;
} */

#below-footer-info {
    text-align: center;
    font-size: xx-small;
    color: rgba(126, 124, 0, .4);
    background-color: transparent;
    border: none;
    margin: 0px;
    padding: 0px;
}

#below-footer-info a {
    color: rgba(126, 124, 0, .4);
}
